[ -f ".aliases.local" ] && source ".aliases.local"

# alias em="env TERM=xterm-256color emacsclient -nc -a ''"

function get-dev-instance-id() {
    aws ec2 describe-instances --filters "Name=tag:dev-host,Values=dev-host" --query 'Reservations[].Instances[].InstanceId' --output text
}

function stop-dev() {
    aws ec2 stop-instances --instance-ids `get-dev-instance-id`
}

function start-dev() {
    aws ec2 start-instances --instance-ids `get-dev-instance-id`
}

function status-dev() {
    aws ec2 describe-instance-status --instance-ids `get-dev-instance-id`
}

function connect-dev(){
    mosh --ssh="ssh -i ~/.ssh/keys/DevBox.pem" bwarzecha@dev.bwarzecha.com -- tmux a
}

function connect-dev-ssh(){
    ssh -i ~/.ssh/keys/DevBox.pem bwarzecha@dev.bwarzecha.com
}

function start-https-tunnel(){
			echo "Starting tunnel between https://dev.bwarzecha.com:8888 and http://localhost:8889"
	ssh -nN -R 8080:localhost:8889  -i ~/.ssh/keys/DevBox.pem bwarzecha@dev.bwarzecha.com

}

alias sbcl="rlwrap /usr/local/bin/sbcl"

